body {
    background: #221f2a;
    color: #90b2df;
    position: relative;
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", "sans-serif";
    font-size: 14px;
}

.greeting {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", "sans-serif";
}

h1 {
    text-align: center;
}

.artistImage {
    display: block;
    margin: 20px auto 40px auto;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.sidebar {
    position:absolute;
    right:0;
    width: 17%;
    float:right;
    display:inline-block;
    margin-left: 8px;
    margin-top: 10px;
}

.menu {
    text-align: center;
    background: #7865a4;
}

.menuItem {
    color: #a1a4ad;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", "sans-serif";
    font-size: 14px;
    text-decoration: none;
    margin-right: 14px;
}

.menuItem:hover {
    color: #f0f1f2;
}

.menuItemCurrent {
    color: #f0f1f2;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", "sans-serif";
    font-size: 14px;
    text-decoration: none;
    margin-right: 14px;
}

